/** FIX THE THEME OVERWRITING **/
nav {
    background-color: #F2F2F2;
    height: 40px !important;
    box-shadow: none;
}

.hidden-footer {
    visibility: hidden;
}

.change-headers {
    font-size: 12px;
    color: #86BD44;
}

.dataTables_scrollFootInner table  tfoot tr th {
    background-color: #F9F9F9 !important;
}

.dataTables_scroll th {
    width: 130px !important;
    min-width: 130px !important;
}

.dataTables_scrollBody td {
    width: 130px !important;
    min-width: 130px !important;
}

.field-name-col {
    padding: 20px;
    width: 100px;
    text-align: center;
}

.contact tbody tr td {
    text-align: center !important;
}

.foot > nav {
    height: 20px !important;
    float: left;
    display: block;
    background-color: rgba(0,0,0,0);
    width: 250.9px;
}

.foot nav a {
    font-size: 13px !important;
}

/** Other CSS **/

#admin_filter, #example_length{
    display:none !important;
}

.username-search-holder {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.username-search-holder > label {
    left: 0px;
}

.dataTables_length {
    display: none !important;
}

.dataTables_scrollBody {
    overflow-x: scroll !important;
}

.contact-head th {
    text-align: center;
}

.searchable {
    background-color: rgb(249, 249, 249) !important;
}

#admin-holder {
    display: none;
}

.admin-update {
    background-color: #86BD44 !important;
    margin-top: 30px !important;
    margin: auto !important;
    display: inherit;
    width: 400px;
}

.admin-cancel {
    background-color: #FF7171 !important;
    margin-top: 30px !important;
    margin: auto !important;
    display: inherit;
    width: 400px;
}

.add-column {
    background-color: #86BD44 !important;
    width: 30px !important;
    height: 30px !important;
}
.add-column-text {
    line-height: 0px !important;
    position: absolute !important;
    top: 15px !important;
    left: 0px !important;
}

.add-column-holder {

}
