#arcarbon-map {
    width: 100%;
    height: 600px;
    padding :0px;
    margin: 0px;
}

.input-field {
    padding: 0px !important;
}

#username-search {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.input-field > label {
    left: 0px !important;
}

td {
    text-align: center;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out  {
    text-decoration: none !important;
}

.leaflet-draw-actions >li > a, .leaflet-draw-actions >li > a:hover {
    background-color: white;
}

.ar-map-total {
    margin-bottom: 0px;
    padding-bottom: 15px;
}

.ar-map-full {
    height: 100%;
    padding: 0px !important;
    margin: 0px;
}

.ar-map-container {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.ar-map-submit-holder {
    margin-bottom: 0px !important;
    padding-bottom: 6px;
    padding-top: 10px;
}

.ar-map-ar-title {
    padding-top: 10px;
    margin-top: 0px;
    text-align: center;
    color: white;
}

.ar-map-submit {
    width: 80%;
    margin: auto;
    display: inherit;
}

button.ar-map-dark-green.mat-btn.mat-waves-effect.mat-waves-light:hover {
    background-color: #DAEAC6 !important;
    color: #15693b !important;
}

button.ar-map-dark-green.mat-btn.mat-waves-effect.mat-waves-light[disabled]:hover {
    background-color: #DFDFDF !important;
    box-shadow: none;
    color: #9F9F9F !important;
    cursor:  not-allowed;
}


button.ar-map-dark-green.mat-btn.mat-waves-effect.mat-waves-light:active {
    background-color: #0e6939 !important;

}

.ar-map-pad-top {
    padding-top: 10px;
}

.ar-map-plots-holder {
    overflow-y: auto;
    padding-top: 10px;
    margin: 0px;
}

.ar-map-plots-holder {
    height: 375px;
}

.ar-map-plot {
    cursor: pointer !important;
    padding-top:2px;
    padding-bottom: 2px;
}



/** We need to make sure we can click on polygons and not get them obscured by labels **/
/*.leaflet-overlay-pane {
    z-index: 10;
}*/

.ar-map-dark-green, .ar-map-dark-green:focus {
    background-color: #0e6939 !important;
}

#shop-nav {
    height:40px;
}


#mat-toast-container {
    position: fixed !important;
    right: 60px !important;
}


.ar-map-plot-title-holder {
    margin-bottom: 4px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

/*.ar-map-plot-title {
    text-overflow: ellipsis;
overflow-x: hidden;
}*/

.leaflet-pelias-input {
    padding: 0px !important;
    left: 30px !important;
    box-shadow: none !important;
    border-bottom: none !important;
}
.leaflet-pelias-result, .leaflet-pelias-list {
    margin-bottom: 0px !important;
}

.field-title-label {
    font-size: 14px !important;
}

.leaflet-control-custom {
    text-align : center;
    line-height: 1.6;
    font-size : 16px;
    cursor: pointer;
}

#field-text-edit {
    z-index: 10000 !important;
}

.ar-button-holder {
    margin: 0px;
}

nav {
    background-color: #F2F2F2;
    height: 40px !important;
    box-shadow: none;
}

.foot > nav {
    height: 20px !important;
    float: left;
    display: block;
    background-color: rgba(0,0,0,0);
    width: 250.9px;
}

.foot nav a {
    font-size: 13px !important;
}


.field-div-icon {
    pointer-events: none;
    text-align: center;
    vertical-align: middle;
    line-height: 37px;
    border: none;
    font-weight: bold;
    color: whitesmoke;
    background-color: rgba(1, 1, 1, 0);
    cursor: default;/*plain arrow*/
}


/** Make the arrow center. **/
.leaflet-control-locate .fa-location-arrow  {
    padding: 0px;
}

.label-text {
    height: 0px;
    width: 110px;
    padding: 0px !important;
    margin: 0px !important;
    cursor: default; /*plain arrow*/
}

.total-hectares-text {
    text-overflow: ellipsis;
    padding: 0px;
    width: 100px;
    overflow: hidden;
}

/** Esri Geocoder Overiding to make it less bad **/
.geocoder-control {
    border-bottom: none !important;
    background-color: white;
    position: absolute;
    left: 35px;
    height: 50px;
    padding-bottom: 7px;
    border-radius: 2px;
}
.geocoder-control-input {
    border-bottom: none !important;
}
.geocoder-control-suggestions {
    top: 40px !important;

}
.geocoder-control-list {
    margin:0px !important;
    padding:0px !important;

}
.geocoder-control-suggestion {
    margin: 0px !important;

}
